html, body {
    height: 99%;
    font-family: 'Luckiest Guy', cursive;
    background-color: rgb(92, 175, 161);
    color:rgb(226, 223, 12);
}

body {
    display: flex;
    flex-direction: column;
}


footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 11rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: -1px -1px 0 rgb(49, 49, 49), 6px -1px 0 rgb(49, 49, 49), -1px 1px 0 rgb(49, 49, 49), 1px 1px 0 rgb(49, 49, 49);
}


.game-board {
    margin: 0 auto;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    background-color: rgb(49, 49, 49);
}
.game-board .square {
    width: 100%;
    padding-top: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: rgb(92, 175, 161);
}

.text {
    position: absolute;
    top: 25%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    text-align: center;
    font-size: 5vw;
    color:rgb(49, 49, 49);
}

img {
    width: 10%;
}

.restart {
    text-align: center;
    margin-top: 2%;
}

button {
    font-family: 'Luckiest Guy', cursive;
    border: 5px solid rgb(49, 49, 49);
    background-color: rgb(226, 223, 12);
    border-radius: 10px;
    font-size: 2vw;
    height: 3vw;
    line-height: 3vw;
}

.restart button:hover {
    background-color: rgb(199, 196, 11);
    cursor: pointer;
}

.restart button:active {
    background-color: rgb(173, 171, 10);
}

.end-info {
    font-size: 4vw;
}