html, body {
    height: 100%;
    font-family: 'Chelsea Market', cursive;
    background-color: rgb(180, 134, 65);
}

h1 {
    text-align: center;
    font-size: 400%;
}


.game-board {
    margin: 0 auto;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    background-color: black;
}
.game-board .square {
    width: 100%;
    padding-top: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: rgb(180, 134, 65);
}

.text {
    position: absolute;
    top: 10%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    text-align: center;
    font-size: 5vw;
    color: black;
}
